{% extends 'base_app.html.twig' %}

{% block title 'Manager - Paramètres' %}

{% block nav %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Paramètres</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('app_index') }}">Accueil</a>
                </li>
                <li class="active">
                    <strong>Paramètres</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
		<div class="row">
            <div class="col-lg-12">
				<div class="tabs-container">
					<div class="tabs-left">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab-header">Logo & Bannière</a></li>
							<li><a data-toggle="tab" href="#tab-about">A propos</a></li>
							<li><a data-toggle="tab" href="#tab-model">Maquette</a></li>
							<li><a data-toggle="tab" href="#tab-social">Réseaux sociaux</a></li>
						</ul>
						<div class="tab-content ">
							<div id="tab-header" class="tab-pane active">
								<div class="panel-body">
									<form name="setting-header-favicon-update" action="{{ path('app_setting_header_favicon') }}" method="post" enctype="multipart/form-data">
										<h4>Favicon (64x64)</h4>
										<a for="favicon">
											<img src="{{ asset(favicon_directory ~ '/' ~ setting.header.favicon) }}">
										</a>
										<input type="file" name="favicon" onchange="this.form.submit()" class="hidden">
									</form>
									<form name="setting-header-logo-update" action="{{ path('app_setting_header_logo') }}" method="post" enctype="multipart/form-data">
										<h4>Logo (250x45)</h4>
										<a for="logo">
											<img src="{{ asset(logo_directory ~ '/' ~ setting.header.logo) }}">
										</a>
										<input type="file" name="logo" onchange="this.form.submit()" class="hidden">
									</form>
									<form name="setting-header-banner-update" action="{{ path('app_setting_header_banner') }}" method="post" enctype="multipart/form-data">
										<h4>Bannière (1900x450)</h4>
										<a for="banner">
											<img class="img-responsive" src="{{ asset(banner_directory ~ '/' ~ setting.header.banner) }}">
										</a>
										<input type="file" name="banner" onchange="this.form.submit()" class="hidden">
									</form>
								</div>
							</div>
							<div id="tab-about" class="tab-pane">
								<div class="panel-body">
									<form name="setting-about-avatar-update" action="{{ path('app_setting_about_avatar') }}" method="post" enctype="multipart/form-data">
										<h4>Avatar (110x110)</h4>
										<a for="avatar">
											<img class="img-circle" src="{{ asset(avatar_directory ~ '/' ~ setting.about.avatar) }}">
										</a>
										<input type="file" name="avatar" onchange="this.form.submit()" class="hidden">
									</form>
									<hr>
									<form name="setting-about-update" action="{{ path('app_setting_about') }}" method="post">
										<div class="form-group">
											<label>Nom</label>
											<p for="label">{{ setting.about.label }}</p>
											<input name="label" type="text" value="{{ setting.about.label }}" class="form-control hidden">
										</div>
										<div class="form-group">
											<label>Description</label>
											<p for="description">{{ setting.about.description }}</p>
											<textarea name="description" class="form-control hidden">{{ setting.about.description }}</textarea>
										</div>
										<a name="update" class="btn btn-info">Modifier</a>
										<a name="cancel" class="btn btn-default hidden">Annuler</a>
										<button name="submit" class="btn btn-info hidden" type="submit">Valider</button>
									</form>
								</div>
							</div>
							<div id="tab-model" class="tab-pane">
								<div class="panel-body">
									<form name="setting-model">
										{% for model in setting.models %}
											<div class="col-lg-12" data-modelType="{{ model.modelType.id}}">
												<div class="panel panel-default">
													<div class="panel-heading">
														{% if model.modelType.id == 1 %}
															Articles récents
														{% elseif model.modelType.id == 2 %}
															Articles polulaires
														{% elseif model.modelType.id == 3 %}
															Sélection du moment
														{% else %}
															This label has no reference
														{% endif %}
													</div>
													<br>
													<div class="row">
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/12-6-6.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="12-6-6" {% if model.columns|join('-') == '12-6-6' %}checked{% endif %}>
														</div>
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/6-6-12.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="6-6-12" {% if model.columns|join('-') == '6-6-12' %}checked{% endif %}>
														</div>
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/12-12.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="12-12" {% if model.columns|join('-') == '12-12' %}checked{% endif %}>
														</div>
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/6-6-6-6.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="6-6-6-6" {% if model.columns|join('-') == '6-6-6-6' %}checked{% endif %}>
														</div>
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/12.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="12" {% if model.columns|join('-') == '12' %}checked{% endif %}>
														</div>
														<div class="col-xs-4 col-sm-2 text-center">
															<img src="{{ asset('asset/web/img/model/6-6.png') }}">
															<br>
															<input name="modelType-{{ model.modelType.id}}" type="radio" value="6-6" {% if model.columns|join('-') == '6-6' %}checked{% endif %}>
														</div>
													</div>
													<br>
												</div>
											</div>
										{% endfor %}
									</form>
								</div>
							</div>
							<div id="tab-social" class="tab-pane">
								<div class="panel-body">
									<div class="row col-xs-12 form-horizontal" name="setting-social">
										{% for social in socials %}
											<div class="form-group" data-id_SocialType="{{ social.socialType.id }}" >
												<label class="col-sm-2 control-label">{{ social.socialType.label }}</label>
												<div class="col-sm-8">
													<input name="url" data-value="{{ social.url }}" type="text" class="form-control" placeholder="https://" value="{{ social.url }}">
												</div>
												<div class="col-sm-2">
													<p class="text-right">
														<a name="validate" class="btn btn-primary hidden">Valider</a>
														<a name="cancel" class="btn btn-default hidden">Annuler</a>
													</p>
												</div>
											</div>
										{% endfor %}
										{% for socialType in socialTypes %}
											<div class="form-group" data-id_SocialType="{{ socialType.id }}" >
												<label class="col-sm-2 control-label">{{ socialType.label }}</label>
												<div class="col-sm-8">
													<input name="url" data-value="" type="text" class="form-control" placeholder="https://" value="">
												</div>
												<div class="col-sm-2">
													<p class="text-right">
														<a name="validate" class="btn btn-primary hidden">Valider</a>
														<a name="cancel" class="btn btn-default hidden">Annuler</a>
													</p>
												</div>
											</div>
										{% endfor %}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
	<script>
		$(function(){
			$('form[name="setting-about-avatar-update"] a[for="avatar"]').click(function(){
				$(this).closest('form').find('input[name="avatar"]').click();
			});
			$('form[name="setting-header-favicon-update"] a[for="favicon"]').click(function(){
				$(this).closest('form').find('input[name="favicon"]').click();
			});
			$('form[name="setting-header-logo-update"] a[for="logo"]').click(function(){
				$(this).closest('form').find('input[name="logo"]').click();
			});
			$('form[name="setting-header-banner-update"] a[for="banner"]').click(function(){
				$(this).closest('form').find('input[name="banner"]').click();
			});
			
			$('form[name="setting-about-update"] a[name="update"]').click(function(){
				$form = $(this).closest('form');
				$form.find('p[for="label"]').addClass('hidden');
				$form.find('p[for="description"]').addClass('hidden');
				$form.find('input[name="label"]').removeClass('hidden');
				$form.find('textarea[name="description"]').removeClass('hidden');
				$form.find('a[name="update"]').addClass('hidden');
				$form.find('a[name="cancel"]').removeClass('hidden');
				$form.find('button[name="submit"]').removeClass('hidden');
			});
			$('form[name="setting-about-update"] a[name="cancel"]').click(function(){
				$form = $(this).closest('form');
				$form.find('p[for="label"]').removeClass('hidden');
				$form.find('p[for="description"]').removeClass('hidden');
				$form.find('input[name="label"]').addClass('hidden');
				$form.find('textarea[name="description"]').addClass('hidden');
				$form.find('a[name="update"]').removeClass('hidden');
				$form.find('a[name="cancel"]').addClass('hidden');
				$form.find('button[name="submit"]').addClass('hidden');
			});
			$('form[name="setting-model"] input').click(function(){
				$objet = $(this);
				var id_modelType = $objet.closest('[data-modelType]').attr('data-modelType');
				console.log(id_modelType);
				var columns = $objet.val();
				$.ajax({
					type: 'post',
					dataType: 'json',
					url: '{{ path('app_setting_model') }}',
					data:{
						id_modelType: id_modelType,
						columns: columns
					},
					success: function(response){
						if(!response.valid){
							swal('Oups !', 'Une erreur est survenue.', 'error');
							return;
						}
					},
					error: function(){
						swal('Oups !', 'Une erreur est survenue.', 'error');
					}
				});
			});
			
			$('div[name="setting-social"] input[name="url"]').on('input', function(){
				$objet = $(this);
				$objet.closest('.form-group').find('a[name="validate"]').removeClass('hidden');
				$objet.closest('.form-group').find('a[name="cancel"]').removeClass('hidden');
			});
			$('div[name="setting-social"] a[name="validate"]').click(function(){
				$group = $(this).closest('.form-group');
				var id_socialType = $group.attr('data-id_socialType');
				var url = $group.find('input[name="url"]').val();
				$.ajax({
					type: 'post',
					dataType: 'json',
					url: '{{ path('app_setting_social_edit') }}',
					data:{
						id_socialType: id_socialType,
						url: url
					},
					success: function(response){
						if(!response.valid){
							swal('Oups !', 'Une erreur est survenue.', 'error');
							return;
						}
						$group.find('input[name="url"]').attr('data-value', url);
						$group.find('a[name="validate"]').addClass('hidden');
						$group.find('a[name="cancel"]').addClass('hidden');
					},
					error: function(){
						swal('Oups !', 'Une erreur est survenue.', 'error');
					}
				});
			});
			$('div[name="setting-social"] a[name="cancel"]').click(function(){
				$objet = $(this);
				$objet.closest('.form-group').find('input[name="url"]').val($objet.closest('.form-group').find('input[name="url"]').attr('data-value'));
				$objet.closest('.form-group').find('a[name="validate"]').addClass('hidden');
				$objet.closest('.form-group').find('a[name="cancel"]').addClass('hidden');
			});
		});
	</script>
{% endblock %}
