{% extends 'base_web.html.twig' %}

{% block slider '' %}

{% block article %}
	<div class="single-blog-details">
		<span class="tag">{{ post.category.label }}</span>
		<h1 class="post-title">{{ post.title }}</h1>
		<p class="post-date">Publié le {{ post.publishedAt|date('d/m/Y') }}</p>
		<div class="post-long-desc">{{ post.content|raw }}</div>
		
		<div class="single-blog-bottom fix">
			<div class="post-social-links pull-right">
				<p>
					<span class="lbl">J'aime</span>
					<span>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a name="toggleLike" href="#" class="{% if iLike %}text-primary{% endif %}">
								<i class="fa fa-heart"></i>
								<span name="nbLike">{{ post.likes|length }}</span>
							</a>
						{% else %}
							<a href="{{ path('web_post_like_from_connect', {'slug': post.slug}) }}" class="{% if iLike %}text-primary{% endif %}">
								<i class="fa fa-heart"></i>
								<span name="nbLike">{{ post.likes|length }}</span>
							</a>
						{% endif %}
					</span>
				</p>
				{#
				<p>
					<span class="lbl">Partagez sur&nbsp;&nbsp;-</span>
					<span>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</span>
				</p>
				#}
			</div>
			{#
			<div class="post-tags pull-right">
				<p>
					<span class="lbl">Tags&nbsp;&nbsp;-</span>
					<span>
						<a href="#">sports,</a>
						<a href="#">football,</a>
						<a href="#">soccer</a>
					</span>
				</p>
			</div>
			#}
		</div>
		
		<div class="about-author fix">
			<h6 class="title">A propos de l'auteur</h6>
			<div class="author-img">
				<img class="img-circle" src="{{ asset(avatar_directory ~ '/' ~ setting.about.avatar) }}" alt="{{ setting.about.label }}" />
			</div>
			<div class="comment-info">
				<p class="author-name">
					<a>{{ setting.about.label }}</a>
				</p>
			</div>
			<div class="author-info">
				<p>{{ setting.about.description }}</p>
			</div>
		</div>
		
		<div class="comments-area">
			<h6 class="title">{{ comments|length }} commentaires</h6>
			<ul class="comments-list">
				{% for comment in comments %}
					<li class="single-comment">
						<div class="comment-box">
							<div class="comment-author">
								<img src="{{ gravatar('{{ comment.user.email }}', 60, 'g') }}" alt="{{ comment.user.username }}">
							</div>
							<div class="comment-info">
								<p class="author-name"><a href="#">{{ comment.user.username }}</a></p>
								<span class="comment-date">{{ comment.createdAt|date('d/m/Y') }}</span>
								<p>{{ comment.message|nl2br }}</p>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="comment-form-area">
			<p>Ajouter un commentaire</p>
			{% if is_granted('ROLE_USER') %}
				<form name="web_comment_add" action="{{ path('web_comment_add') }}" method="post">
					<input type="hidden" name="postId" value="{{ post.id }}">
					<textarea name="message" placeholder="Message"></textarea>
					<button type="submit" class="submit-btn">Envoyer</button>
					<span name="responseError" class="text-danger hidden"></span>
					<span name="responseSuccess" class="hidden">Commentaire envoyé avec succès.<br>Un modérateur doit l'accepter avant de le voir apparaitre.</span>
				</form>
			{% else %}
				<a href="{{ path('login') }}">Connectez-vous pour laisser un commentaire</a>
			{% endif %}
		</div>
	</div>
	<script>
		$('form[name="web_comment_add"]').submit(function(){
			var $form = $(this);
			$form.find('button[type="submit"]').prop('disabled', true);
			
			$form.find('[name="responseError"]').addClass('hidden');
			$form.find('[name="responseSuccess"]').addClass('hidden');

			$.ajax({
				type: 'post',
				dataType: 'json',
				url: $form.attr('action'),
				data: $form.serialize(),
				success: function(response){
					if(!response.valid){
						$form.find('button[type="submit"]').prop('disabled', false);
						$form.find('[name="responseError"]').html(response.error.msg);
						$form.find('[name="responseError"]').removeClass('hidden');
						return false;
					}
					$form.find('button[type="submit"]').remove();
					$form.find('[name="responseSuccess"]').removeClass('hidden');
					return false;
				},
				error: function(){
					$form.find('button[type="submit"]').prop('disabled', false);
					$form.find('[name="responseError"]').html('Une erreur est survenue.');
					$form.find('[name="responseError"]').removeClass('hidden');
				}
			});
			return false;
		});
		
		$('[name="toggleLike"]').click(function(){
			$objet = $(this);
			if(!$objet.hasClass('text-primary')){
				$objet.addClass('text-primary');
				$objet.find('[name="nbLike"]').html(parseInt($objet.find('[name="nbLike"]').html()) + 1);
			}
			else{
				$objet.removeClass('text-primary');
				$objet.find('[name="nbLike"]').html(parseInt($objet.find('[name="nbLike"]').html()) - 1);
			}
			$.ajax({
				type: 'post',
				dataType: 'json',
				data: {
					'postId' : {{ post.id }}
				},
				url: '{{ path('web_post_like') }}'
			});
		});
	</script>
{% endblock %}