<div class="popular-posts-area">
	<h2 class="section-title">La sélection de Jessica</h2>
	<div class="row">
		{% for column in model.columns %}
			{% if selections[loop.index] is defined %}
				<div class="col-md-{{ column }} col-sm-{{ column }}">
					<div class="single-popular-post">
						<div class="post-img">
							<a href="{{ path('web_post_view', {'slug': selections[loop.index].post.slug}) }}"><img src="{{ asset(post_directory ~ '/' ~ selections[loop.index].post.image) }}" alt="{{ selections[loop.index].post.category.label }}"></a>
							<a href="{{ path('web_category_view', {'slug': selections[loop.index].post.category.slug}) }}" class="post-tag">{{ selections[loop.index].post.category.label }}</a>
							<div class="post-info">
								<p>
									<span class="post-date"><a href="#">{{ selections[loop.index].post.publishedAt|date('d/m/Y') }}</a></span>
									<span class="post-comments"><a href="#">{{ selections[loop.index].post.comments|length }} commentaires</a></span>
									<span class="post-social-links">
										<a href="#" data-toggle="tooltip" data-placement="bottom" title="Likes"><i class="fa fa-heart"></i> 557</a>
									</span>
								</p>
							</div>
						</div>
						<div class="post-content">
							{% if column == 6 %}
								<h6 class="post-title"><a href="{{ path('web_post_view', {'slug': selections[loop.index].post.slug}) }}">{{ selections[loop.index].post.title|truncate(30) }}</a></h6>
								<p class="post-short-desc">{{ selections[loop.index].post.content|striptags|truncate(200) }}</p>
							{% else %}
								<h6 class="post-title"><a href="{{ path('web_post_view', {'slug': selections[loop.index].post.slug}) }}">{{ selections[loop.index].post.title|truncate(80) }}</a></h6>
								<p class="post-short-desc">{{ selections[loop.index].post.content|striptags|truncate(450) }}</p>
							{% endif %}
							<a href="{{ path('web_post_view', {'slug': selections[loop.index].post.slug}) }}" class="continue-link">Lire la suite</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>